@import url('https://fonts.cdnfonts.com/css/gill-sans-nova-cond-ultra-bold');

html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}


.header {
    display: flex;
    flex-direction: row;
    background-color: #232325;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logoSpace {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.headerRightPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    gap: 20px;
}

.loginSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginButton {
    border-radius: 10px;
    background-color: #09953e;
    width: 100px;
    height: 35px;
    font-size: x-large;
    color: white;
    border: 10px black;

}

.registerButton {
    color: white;
    font-size: 120%;
}

.Moka {
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 250%;
    color: white;
    font-weight: 900;

}

.movingText {
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 150%;
}

.sticky {

    top: 0;
    width: 100%;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    margin: auto;
    z-index: 0;
    width: 100%;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.footer {
    background-color: #232325;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;
}

.firstpartfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.footersocial {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: #09953e;
    font-size: 250%;
}

.b {
    color: rgb(134, 134, 134);
}

.lowerfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerlogo {
    width: 75px;
    height: 75px;
}

.aboutus {
    display: flex;
    flex-direction: column;
}

b {
    color: rgb(161, 161, 161);
}

.tittle {
    color: white;
}


.productlist {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

.productrow {
    display: flex;
    flex-direction: row;
    gap: 75px;
}


div.productrow {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    white-space: nowrap;
    color: black;
}

div.productrow a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.productrow a:hover {
    background-color: #777;
}

.imgrow1 {
    width: 325px;
    height: 300px;
}

.rowtitle1 {
    font-size: 500%;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    text-align: center;
}

.listrow1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

.productrow {
    height: auto;
    width: auto;
    overflow-y: auto;
    background-color: green;
    border-radius: 5px;
    margin: 0 auto;
    align-items: center;
}



.Flipped,
.Flipped .imgrow1 {
    transform: rotateX(180deg);
}


::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-track {
    background: gainsboro;

}

::-webkit-scrollbar-thumb {
    background: #09953e;

}

::-webkit-scrollbar-thumb:hover {
    background: #2212;
}

.imgdiv1 {
    display: flex;
    flex-direction: column;
}

.textrow1 {
    transform: rotateX(180deg);
    text-align: center;
    font-size: 200%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding: 20px;
}

.divisor {
    font-size: 800%;
}