@import url('https://fonts.cdnfonts.com/css/gill-sans-nova-cond-ultra-bold');

html,
body,
main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    flex-direction: row;
    background-color: #232325;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.logoSpace {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.headerRightPart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    gap: 20px;
}

.loginSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginButton {
    border-radius: 10px;
    background-color: #09953e;
    width: 100px;
    height: 35px;
    font-size: x-large;
    color: white;
    border: 10px black;

}

.registerButton {
    color: white;
    font-size: 120%;
}

.Moka {
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 250%;
    color: white;
    font-weight: 900;

}

.movingText {
    color: white;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 150%;
}

.sticky {

    top: 0;
    width: 100%;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    margin: auto;
    z-index: 0;
    width: 100%;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.textimagenbody1 {
    position: absolute;
    margin-top: 15%;
    margin-left: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textimagenbody1div {
    color: white;
    font-size: 300%;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.text2imagenbody1div {
    color: #09953e;
    font-size: 300%;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.buttonimagenbody1 {
    border-color: #09953e;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 120%;
}

.textimagenbody2 {
    position: absolute;
    margin-top: 11%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textimagenbody2div {
    color: #09953e;
    font-size: 300%;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.text2imagenbody2div {
    color: white;
    font-size: 500%;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.buttonimagenbody2 {
    border-color: #09953e;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 160%;
}

.textimagenbody3 {
    position: absolute;
    margin-top: 30%;
    margin-left: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textimagenbody3div {
    color: #09953e;
    font-size: 300%;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.text2imagenbody3div {
    color: white;
    font-size: 500%;
    text-align: center;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
}

.buttonimagenbody3 {
    border-color: #09953e;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 40px;
    font-family: 'Gill Sans Nova Cond Ultra Bold';
    font-size: 160%;
}

.bodymiddlepart {
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -4px;
}

.leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftsidetext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftsidemaintext {
    color: #09953e;
    font-size: 400%;
    margin-top: 70px;
}

.leftsidebodytext {
    color: white;
    margin-top: 40px;
    font-size: 150%;
    text-align: center;
}

.leftbar {
    font-size: 1000%;
    color: white;
    margin-top: 50px;
}

.rightsidetext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightsidemaintext {
    color: #09953e;
    font-size: 400%;
    margin-top: 80px;
}

.rightsidebodytext {
    color: white;
    margin-top: 60px;
    font-size: 150%;
    text-align: center;
}

.rightbar {
    font-size: 1000%;
    color: white;
    margin-top: 50px;
}

.imgbodyrightside {
    margin-top: 70px;
}

.bodybottompart {
    background-color: black;
}

.delreserveoption {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.reserveoption {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .2s;
    flex-basis: 50%;
}

.reservetext {
    color: white;
    font-size: 500%;
}

.deliveryoption {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .2s;
    flex-basis: 50%;
}

.deliverytext {
    color: white;
    font-size: 500%;
}

.delreserveoption:hover .reserveoption:hover {
    transform: translateX(45%);
}

.delreserveoption:hover .deliveryoption:hover {
    transform: translateX(-55%);
}

.delreserveoption:hover .reserveoption:not(:hover) {
    transform: scale(0);
}

.delreserveoption:hover .deliveryoption:not(:hover) {
    transform: scale(0);
}

.delreserveoption:hover .reserveoption,
.delreserveoption:hover .deliveryoption {
    transition: transform 0.3s ease-in-out;
}

.footer {
    background-color: #232325;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.firstpartfooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.footersocial {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a {
    color: #09953e;
    font-size: 250%;
}

.b {
    color: rgb(134, 134, 134);
}

.lowerfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerlogo {
    width: 75px;
    height: 75px;
}

.aboutus {
    display: flex;
    flex-direction: column;
}
b{
    color: rgb(161, 161, 161);
}

.tittle{
    color: white;
}